<!DOCTYPE html>
<html class="supernova">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F213541609615353" title="oEmbed Form">
        <link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F213541609615353" title="oEmbed Form">
        <meta property="og:title" content="Online Donation Form">
        <meta property="og:url" content="https://form.jotform.com/213541609615353">
        <meta property="og:description" content="Please click the link to complete this form.">
        <meta name="slack-app-id" content="AHNMASS8M">
        <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021.svg">
        <link rel="canonical" href="https://form.jotform.com/213541609615353"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1"/>
        <meta name="HandheldFriendly" content="true"/>
        <title>Donation to BackAnda</title>
        <style type="text/css">
            @media print {
                .form-section {
                    display: inline!important
                }

                .form-pagebreak {
                    display: none!important
                }

                .form-section-closed {
                    height: auto!important
                }

                .page-section {
                    position: initial!important
                }
            }
        </style>
        <!-- <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251"/> -->
        <link type="text/css" rel="stylesheet" href="css/themes.css"/>

        <!-- <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.29692"/> -->
        <link type="text/css" rel="stylesheet" href="css/payment.css"/>

        <!-- <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.29692"/> -->
        <link type="text/css" rel="stylesheet" href="css/payment_feature.css"/>

        <style type="text/css" id="form-designer-style">
            /* Injected CSS Code */
            /*PREFERENCES STYLE*/
            .form-all {
                font-family: Inter, sans-serif;
            }

            .form-all .qq-upload-button, .form-all .form-submit-button, .form-all .form-submit-reset, .form-all .form-submit-print {
                font-family: Inter, sans-serif;
            }

            .form-all .form-pagebreak-back-container, .form-all .form-pagebreak-next-container {
                font-family: Inter, sans-serif;
            }

            .form-header-group {
                font-family: Inter, sans-serif;
            }

            .form-label {
                font-family: Inter, sans-serif;
            }

            .form-label.form-label-auto {
                display: block;
                float: none;
                text-align: left;
                width: 100%;
            }

            .form-line {
                margin-top: 12px 36px 12px 36px px;
                margin-bottom: 12px 36px 12px 36px px;
            }

            .form-all {
                max-width: 752px;
                width: 100%;
            }

            .form-label.form-label-left, .form-label.form-label-right, .form-label.form-label-left.form-label-auto, .form-label.form-label-right.form-label-auto {
                width: 230px;
            }

            .form-all {
                font-size: 16px
            }

            .form-all .qq-upload-button, .form-all .qq-upload-button, .form-all .form-submit-button, .form-all .form-submit-reset, .form-all .form-submit-print {
                font-size: 16px
            }

            .form-all .form-pagebreak-back-container, .form-all .form-pagebreak-next-container {
                font-size: 16px
            }

            .supernova .form-all, .form-all {
                background-color: #ffffff;
            }

            .form-all {
                color: #2C3345;
            }

            .form-header-group .form-header {
                color: #2C3345;
            }

            .form-header-group .form-subHeader {
                color: #2C3345;
            }

            .form-label-top, .form-label-left, .form-label-right, .form-html, .form-checkbox-item label, .form-radio-item label {
                color: #2C3345;
            }

            .form-sub-label {
                color: #464d5f;
            }

            .supernova {
                background-color: #ffffff;
            }

            .supernova body {
                background: transparent;
            }

            .form-textbox, .form-textarea, .form-dropdown, .form-radio-other-input, .form-checkbox-other-input, .form-captcha input, .form-spinner input {
                background-color: #fff;
            }

            .supernova {
                background-image: none;
            }

            #stage {
                background-image: none;
            }

            .form-all {
                background-image: none;
            }

            .ie-8 .form-all:before {
                display: none;
            }

            .ie-8 {
                margin-top: auto;
                margin-top: initial;
            }

            /*PREFERENCES STYLE*/
            /*__INSPECT_SEPERATOR__*/
            .form-all {
                border: 10px solid;
                border-image-slice: 1;
                border-width: 8px;
                border-image-source: linear-gradient(to left, #CB563E, grey);
            }

            /* Injected CSS Code */
        </style>
        <script src="js/prototype.js" type="text/javascript"></script>

        <script src="js/jotform.js" type="text/javascript"></script>
        <script defer src="js/punycode.js"></script>
        <script src="js/jquery-1.8.0.min.js" type="text/javascript"></script>
        <script defer src="js/maskedinput.min.js" type="text/javascript"></script>
        <script defer src="js/jquery.maskedinput.1.4.1.min.js" type="text/javascript"></script>
        <script src="js/paypalcomplete.js" type="text/javascript"></script>
        <script src="js/paymentUtils.js" type="text/javascript"></script>
        <script src="js/promise-polyfill.js"></script>
        <script src="js/payment_form_embedded.js" type="text/javascript"></script>


        <!-- <script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
        <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.29692" type="text/javascript"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
        <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.29692" type="text/javascript"></script>
        <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.29692" type="text/javascript"></script>
        <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.29692" type="text/javascript"></script>
        <script src="https://cdn03.jotfor.ms/js/payments/paypalcomplete.js?v=3.3.29692" type="text/javascript"></script>
        <script src="https://cdn01.jotfor.ms/js/payments/paymentUtils.js?v=3.3.29692" type="text/javascript"></script>
        <script src="https://cdn02.jotfor.ms/js/libraries/promise-polyfill.js"></script>
        <script src="https://cdn03.jotfor.ms/js/payments/payment_form_embedded.js?v=3.3.29692" type="text/javascript"></script> -->
        <script type="text/javascript">
            JotForm.newDefaultTheme = true;
            JotForm.extendsNewTheme = false;
            JotForm.newPaymentUIForNewCreatedForms = false;
            JotForm.newPaymentUI = true;

            JotForm.init(function() {
                /*INIT-START*/
                setTimeout(function() {
                    $('input_30').hint('ex: myname@example.com');
                }, 20);
                JotForm.setPhoneMaskingValidator('input_25_full', '(###) ###-####');
                if (window.JotForm && JotForm.accessible)
                    $('input_33').setAttribute('tabindex', 0);
                JotForm.alterTexts({
                    "couponApply": "Apply",
                    "couponBlank": "Please enter a coupon.",
                    "couponChange": "",
                    "couponEnter": "Enter coupon",
                    "couponExpired": "Coupon is expired. Please try another one.",
                    "couponInvalid": "Coupon is invalid.",
                    "couponValid": "Coupon is valid.",
                    "shippingShipping": "Shipping",
                    "taxTax": "Tax",
                    "totalSubtotal": "Subtotal",
                    "totalTotal": "Total"
                }, true);
                /*INIT-END*/
            });

            JotForm.prepareCalculationsOnTheFly([null, null, null, null, null, null, null, null, null, null, null, null, null, null, {
                "name": "submit",
                "qid": "14",
                "text": "Submit",
                "type": "control_button"
            }, null, null, {
                "name": "typeOf",
                "qid": "17",
                "text": "Type of Donation",
                "type": "control_radio"
            }, null, null, null, null, null, null, null, {
                "name": "phoneNumber25",
                "qid": "25",
                "text": "Phone Number",
                "type": "control_phone"
            }, null, null, {
                "name": "donationForm",
                "qid": "28",
                "text": "Donation Form",
                "type": "control_head"
            }, {
                "name": "fullName",
                "qid": "29",
                "text": "Full Name",
                "type": "control_fullname"
            }, {
                "name": "email30",
                "qid": "30",
                "subLabel": "example@example.com",
                "text": "E-mail",
                "type": "control_email"
            }, null, null, {
                "name": "comments33",
                "qid": "33",
                "text": "Comments",
                "type": "control_textarea"
            }, null, null, null, {
                "name": "donationAmount",
                "qid": "37",
                "text": "Donation Amount",
                "type": "control_paypalcomplete"
            }, {
                "name": "paymentMethods",
                "qid": "38",
                "text": "Payment Methods",
                "type": "control_paymentmethods"
            }]);
            setTimeout(function() {
                JotForm.paymentExtrasOnTheFly([null, null, null, null, null, null, null, null, null, null, null, null, null, null, {
                    "name": "submit",
                    "qid": "14",
                    "text": "Submit",
                    "type": "control_button"
                }, null, null, {
                    "name": "typeOf",
                    "qid": "17",
                    "text": "Type of Donation",
                    "type": "control_radio"
                }, null, null, null, null, null, null, null, {
                    "name": "phoneNumber25",
                    "qid": "25",
                    "text": "Phone Number",
                    "type": "control_phone"
                }, null, null, {
                    "name": "donationForm",
                    "qid": "28",
                    "text": "Donation Form",
                    "type": "control_head"
                }, {
                    "name": "fullName",
                    "qid": "29",
                    "text": "Full Name",
                    "type": "control_fullname"
                }, {
                    "name": "email30",
                    "qid": "30",
                    "subLabel": "example@example.com",
                    "text": "E-mail",
                    "type": "control_email"
                }, null, null, {
                    "name": "comments33",
                    "qid": "33",
                    "text": "Comments",
                    "type": "control_textarea"
                }, null, null, null, {
                    "name": "donationAmount",
                    "qid": "37",
                    "text": "Donation Amount",
                    "type": "control_paypalcomplete"
                }, {
                    "name": "paymentMethods",
                    "qid": "38",
                    "text": "Payment Methods",
                    "type": "control_paymentmethods"
                }]);
            }, 20);
        </script>
    </head>
    <body>
        <form class="jotform-form" action="https://submit.jotformeu.com/submit/213541609615353/" method="post" name="form_213541609615353" id="213541609615353" accept-charset="utf-8" autocomplete="on">
            <input type="hidden" name="formID" value="213541609615353"/>
            <input type="hidden" id="JWTContainer" value=""/>
            <input type="hidden" id="cardinalOrderNumber" value=""/>
            <div role="main" class="form-all">
                <style>
                    .form-all:before {
                        background: none;
                    }
                </style>
                <ul class="form-section page-section">
                    <li id="cid_28" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-large">
                            <div class="header-text httal htvam">
                                <h1 id="header_28" class="form-header" data-component="header">Donation To BackAnda
            </h1>
                            </div>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_fullname" id="id_29">
                        <label class="form-label form-label-top" id="label_29" for="first_29">
                            Full Name
          <span class="form-required">*
          </span>
                        </label>
                        <div id="cid_29" class="form-input-wide jf-required" data-layout="full">
                            <div data-wrapper-react="true">
                                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                                    <input placeholder="First Name" type="text" id="first_29" name="q29_fullName[first]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_29 given-name" size="10" value="" data-component="first" aria-labelledby="label_29 sublabel_29_first" required=""/>
                                    <label class="form-sub-label" for="first_29" id="sublabel_29_first" style="min-height:13px" aria-hidden="false" > </label>
                                </span>
                                <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                                    <input placeholder="Last Name" type="text" id="last_29" name="q29_fullName[last]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_29 family-name" size="15" value="" data-component="last" aria-labelledby="label_29 sublabel_29_last" required="" />
                                    <label class="form-sub-label" for="last_29" id="sublabel_29_last" style="min-height:13px" aria-hidden="false" > </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_email" id="id_30">
                        <label class="form-label form-label-top" id="label_30" for="input_30">
                            E-mail
          <span class="form-required">*
          </span>
                        </label>
                        <div id="cid_30" class="form-input-wide jf-required" data-layout="half">
                            <span class="form-sub-label-container" style="vertical-align:top">
                                <input type="email" id="input_30" name="q30_email30" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="myname@example.com" data-component="email" aria-labelledby="label_30 sublabel_input_30" required=""/>
                                <label class="form-sub-label" for="input_30" id="sublabel_input_30" style="min-height:13px" aria-hidden="false"></label>
                            </span>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_phone" id="id_25">
                        <label class="form-label form-label-top" id="label_25" for="input_25_full">
                            Phone Number
          <!-- <span class="form-required">* OFF -->
          </span>
                        </label>
                        <div id="cid_25" class="form-input-wide jf-required" data-layout="half">
                            <span class="form-sub-label-container" style="vertical-align:top">
                                <input type="tel" id="input_25_full" name="q25_phoneNumber25[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue="" autoComplete="section-input_25 tel-national" style="width:310px" data-masked="true" value="" placeholder="(000) 123-4567" data-component="phone" aria-labelledby="label_25"/>
                                <label class="form-sub-label is-empty" for="input_25_full" id="sublabel_25_masked" style="min-height:13px" aria-hidden="false"></label>
                            </span>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_radio" id="id_17">
                        <label class="form-label form-label-top" id="label_17" for="input_17">
                            Type of Donation
          <span class="form-required">*
          </span>
                        </label>
                        <div id="cid_17" class="form-input-wide jf-required" data-layout="full">
                            <div class="form-single-column" role="group" aria-labelledby="label_17" data-component="radio">
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item"></span>
                                    <input type="radio" aria-describedby="label_17" class="form-radio validate[required]" id="input_17_0" name="q17_typeOf" value="Love Offering" required=""/>
                                    <label id="label_input_17_0" for="input_17_0">Love Offering </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item"></span>
                                    <input type="radio" aria-describedby="label_17" class="form-radio validate[required]" id="input_17_1" name="q17_typeOf" value="Building Expansion" required=""/>
                                    <label id="label_input_17_1" for="input_17_1">BackAnda Expansion </label>
                                </span>
                                <span class="form-radio-item" style="clear:left">
                                    <span class="dragger-item"></span>
                                    <input type="radio" aria-describedby="label_17" class="form-radio validate[required]" id="input_17_2" name="q17_typeOf" value="One Time Donation" required=""/>
                                    <label id="label_input_17_2" for="input_17_2">One Time Donation </label>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_textarea" id="id_33">
                        <label class="form-label form-label-top form-label-auto" id="label_33" for="input_33">
                            Comments
          <!-- <span class="form-required">* -->
          </span>
                        </label>
                        <div id="cid_33" class="form-input-wide jf-required" data-layout="full">
                            <textarea id="input_33" class="form-textarea validate[required]" name="q33_comments33" style="width:648px;height:163px" data-component="textarea"  aria-labelledby="label_33"></textarea>
                        </div>
                    </li>
                    <li class="form-line jf-required" data-type="control_paypalcomplete" id="id_37" data-payment="true">
                        <label class="form-label form-label-top" id="label_37" for="input_37">
                            Donation Amount
          <span class="form-required">*
          </span>
                        </label>
                        <div id="cid_37" class="form-input-wide jf-required" data-layout="full">
                            <input type="hidden" name="simple_fpc" data-payment_type="paypalcomplete" value="37"/>
                            <input type="hidden" name="payment_total_checksum" id="payment_total_checksum"/>
                            <span class="form-sub-label-container" style="vertical-align: top;">
                                <input type="text" class="form-textbox validate[required, Numeric]" id="input_37_donation" name="q37_donationAmount[price]" type="number" value="" required="" placeholder="$ 100">
                                <!-- USD -->
            <label class="form-sub-label" for="input_37_donation" style="min-height: 13px;">Please enter your donation amount </label>
                            </span>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_paymentmethods" id="id_38">
                        <label class="form-label form-label-top" id="label_38" for="input_38">Payment Methods </label>
                        <div id="cid_38" class="form-input-wide" data-layout="full">
                            <div class="payment-methods-area">
                                <div data-wrapper-react="true" class="paypalcomplete-payment-wrapper" data-sandbox="enabled" data-currency="USD" data-auth-only="No" data-show-spb="true" data-show-card-fields="true">
                                    <div id="paypal-commerce-platform-container">
                                        <div class="paypal-toggle-buttons">
                                            <div class="paypal-toggle">
                                                <div id="paypal-card-fields">
                                                    <div class="payment-method-container" data-id="paypal-card-fields">
                                                        <input type="radio" class="form-radio" name="paypal-payment-method" data-id="paypal-card-fields" id="paypal-card-fields-input" aria-describedby="label_38"/>
                                                        <label for="paypal-card-fields-input">
                                                            <span class="CC_ico"></span>
                                                            Debit or Credit Card

                                                        </label>
                                                    </div>
                                                </div>
                                                <div id="paypal-smart-buttons">
                                                    <div class="payment-method-container" data-id="paypal-smart-buttons">
                                                        <input type="radio" class="form-radio" name="paypal-payment-method" data-id="paypal-smart-buttons" id="paypal-smart-buttons-input" aria-label="Paypal" aria-describedby="label_38"/>
                                                        <label for="paypal-smart-buttons-input"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="paypal-toggle-content " render-paypal-type="">
                                            <div class="content-area">
                                                <div id="paypal-credit-card-fields">
                                                    <div class="paypal-commerce-platform">
                                                        <div class="paypal-content">
                                                            <table class="form-address-table payment-form-table" style="border:0" cellPadding="0" cellSpacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <span class="form-sub-label-container" style="vertical-align:top">
                                                                                <input type="text" id="input_37_cc_firstName" name="q37_donationAmount[cc_firstName]" class="form-textbox validate[required] cc_firstName" data-defaultvalue="" size="20" value="" data-component="cc_firstName"/>
                                                                                <label class="form-sub-label" for="input_37_cc_firstName" id="sublabel_cc_firstName" style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">First Name </label>
                                                                            </span>
                                                                        </td>
                                                                        <td width="50%">
                                                                            <span class="form-sub-label-container" style="vertical-align:top">
                                                                                <input type="text" id="input_37_cc_lastName" name="q37_donationAmount[cc_lastName]" class="form-textbox validate[required] cc_lastName" data-defaultvalue="" size="20" value="" data-component="cc_lastName"/>
                                                                                <label class="form-sub-label" for="input_37_cc_lastName" id="sublabel_cc_lastName" style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">Last Name </label>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="if_cc_field">
                                                                        <td width="50%">
                                                                            <span class="form-sub-label-container" style="vertical-align:top">
                                                                                <div class="form-textbox cc_numberMount "></div>
                                                                                <label class="form-sub-label" for="input_37_cc_number" id="sublabel_cc_number" style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">Credit Card Number </label>
                                                                            </span>
                                                                        </td>
                                                                        <td width="50%">
                                                                            <span class="form-sub-label-container" style="vertical-align:top">
                                                                                <div class="form-textbox cc_ccvMount "></div>
                                                                                <label class="form-sub-label" for="input_37_cc_ccv" id="sublabel_cc_ccv" style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">Security Code </label>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <span class="form-sub-label-container" style="vertical-align:top">
                                                                                <div class="form-textbox cc_cardExpiryMount "></div>
                                                                                <label class="form-sub-label" for="input_37_cc_card_expiry" id="sublabel_cc_card_expiry" style="min-height:13px;margin:0 0 3px 0" aria-hidden="false">Card Expiration </label>
                                                                            </span>
                                                                        </td>
                                                                        <td width="50%">
                                                                            <tr style="display:none">
                                                                                <td>
                                                                                    <input id="paypal_complete_dummy" style="display:none"/>
                                                                                </td>
                                                                            </tr>
                                                                        </td>
                                                                    </tr>
                                                                    <div id="payments-sdk__contingency-lightbox"></div>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="paypal-spb-area">
                                                    <p>
                                                        Please click one of the PayPal options to complete payment and <b>submit</b>
                                                        the form.
                                                    </p>
                                                    <div id="paypal-button-container" style="pointer-events:"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="input_38_payment_method" name="q38_paymentMethods[payment_method]" class="" data-defaultvalue="" value="" data-component="payment_method"/>
                            </div>
                        </div>
                    </li>
                    <li class="form-line" data-type="control_button" id="id_14">
                        <div id="cid_14" class="form-input-wide" data-layout="full">
                            <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                                <button id="input_14" type="submit" class="form-submit-button form-submit-button-simple_rose submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit
            </button>
                            </div>
                        </div>
                    </li>
                    <li style="display:none">
                        Should be Empty:
        <input type="text" name="website" value=""/>
                    </li>
                </ul>
            </div>
            <script>
                JotForm.showJotFormPowered = "new_footer";
            </script>
            <script>
                JotForm.poweredByText = "Powered by Jotform";
            </script>
            <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="213541609615353"/>
            <script type="text/javascript">
                var all_spc = document.querySelectorAll("form[id='213541609615353'] .si" + "mple" + "_spc");
                for (var i = 0; i < all_spc.length; i++) {
                    all_spc[i].value = "213541609615353-213541609615353";
                }
            </script>
            <div class="formFooter-heightMask">
              <p class="align_center">The footer section </p>
            </div>

        </form>
    </body>
</html>
<script type="text/javascript">
    JotForm.ownerView = true;
</script>
<script type="text/javascript">
    JotForm.forwardToEu = true;
</script>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.29692"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.29692"></script>
